<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Receipts</title>
  </head>
  <body>
    <header>
      <nav>
        {% if user.is_authenticated %}
        <ul>
          <li>
            <a href="{% url 'home' %}">Main page</a>
          </li>
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
          <li>
            <a href="{% url 'account_list' %}">Accounts</a>
          </li>
          <li>
            <a href="{% url 'create_account' %}">Create Account</a>
          </li>
          <li>
            <a href="{% url 'category_list' %}">Expenses</a>
          </li>
          <li>
            <a href="{% url 'create_category' %}">Create Expense</a>
          </li>
          <li>
            <a href="{% url 'create_receipt' %}">Create Receipt</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'signup' %}">Sign up</a>
          </li>
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
        </ul>
        {% endif %}
      </nav>
    </header>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of receipts</th>
        </tr>
      </thead>
      <tbody>
        {% for category in category_list %}
        <tr>
          <td>{{ category.name }}</td>
          <td>{{ category.receipts.count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
