<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Receipts</title>
  </head>
  <body>
    <header>
      <nav>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'logout' %}">Logout</a>
        </li>
        <li>
          <a href="{% url 'account_list' %}">Accounts</a>
        </li>
        <li>
          <a href="{% url 'create_account' %}">Create Account</a>
        </li>
        <li>
          <a href="{% url 'category_list' %}">Expenses</a>
        </li>
        <li>
          <a href="{% url 'create_category' %}">Create Expense</a>
        </li>
        <li>
          <a href="{% url 'create_receipt' %}">Create Receipt</a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'signup' %}">Signup</a>
        </li>
        <li>
          <a href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </nav>
    </header>
    <main>
      <h1>My Receipts</h1>
      <table>
        <tr>
          <th>Vendor</th>
          <th>Total</th>
          <th>Tax</th>
          <th>Date</th>
          <th>Category</th>
          <th>Account</th>
        </tr>
        {% for receipt in home %}
        <tr>
          <th>{{ receipt.vendor }}</th>
          <th>{{ receipt.total }}</th>
          <th>{{ receipt.tax }}</th>
          <th>{{ receipt.date|date:"m/d/y" }}</th>
          <th>{{ receipt.category }}</th>
          <th>{{ receipt.account }}</th>
        </tr>
        {% endfor %}
      </table>
    </main>
  </body>
</html>
